
#center{
	position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  padding: 0;
  margin: 0;
  overflow: auto;	

}

@font-face {
    font-family: 'product';
    src: url('fonts/product_sans_regular-webfont.eot');
    src: url('fonts/product_sans_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/product_sans_regular-webfont.woff2') format('woff2'),
         url('fonts/product_sans_regular-webfont.woff') format('woff'),
         url('fonts/product_sans_regular-webfont.ttf') format('truetype'),
         url('fonts/product_sans_regular-webfont.svg#product_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
	font-family:product;
	scroll-behavior: smooth;
}
#title{
	font-size: 80px;
	line-height: 0;
}
.deure{
	width: 250px;
	padding: 5px;
	min-height:5px;
	border-top:2px solid gray;

}
.assign{
	font-weight: bold;
	font-size: 20px;
}
.title{
	font-size: 20px;
}
.descrip{
	font-size: 20px;
}
.data{
	font-style: italic;
	font-size: 15px;
}
li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.foot{
	position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}
#source{
	color: black;
	outline: 0;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 15px;
}
@media only screen and (max-device-width : 640px) {
		
		#loading{
			font-size: 40px;
		}
		#title{
			font-size: 200px;
			line-height: 0;
		}
		.deure{
			width: 650px;
			padding: 25px;
			min-height:70px;
			border-top:4px solid gray;

		}
		.assign{
			font-weight: bold;
			font-size: 40px;
		}
		.title{
			font-size: 40px;
		}
		.descrip{
			font-size: 40px;
		}
		.data{
			font-style: italic;
			font-size: 35px;
		}
		.foot{
			position: absolute;
			left: 50%;
			top: 90%;
			transform: translate(-50%, -50%);
			font-size: 30px;
		}
		#source{
			font-size: 35px;
		}
}